        .question {
            width: 60%; /* Largeur de la zone contenant les deux textes */
            display: flex; /* Utiliser Flexbox pour positionner les éléments côte à côte */
            justify-content: space-between; /* Espacez les éléments pour qu'ils soient à gauche et à droite */
            margin-top: 10%;
            margin-left: 10%;
            margin-right: 10%;
        }
        .container {
            margin-right: 6.5%;
            margin-left: 6.5%;
        }

        .text-left, .text-right {
            padding: 10px; /* Espace intérieur pour un meilleur aspect visuel */
        }

        /* Style optionnel pour chaque texte */
        .text-left {
            background-color: #e0e0e0; /* Fond gris clair pour le texte de gauche */
        }

        .text-right {
            background-color: #e0e0e0; /* Fond gris plus clair pour le texte de droite */
        }

.arrow-link {
    font-size: 24px; /* Taille de la police pour les flèches */
    text-decoration: none; /* Supprimer la soulignement du lien */
    color: #333; /* Couleur du texte */
    margin: 10px; /* Marge pour espacer les flèches */
}

/* Style au survol de la flèche gauche (gauche) */
.arrow-link:nth-child(1):hover {
    transform: translateX(-5px); /* Décaler la flèche vers la gauche au survol */
}

/* Style au survol de la flèche droite (droite) */
.arrow-link:nth-child(2):hover {
    transform: translateX(5px); /* Décaler la flèche vers la droite au survol */
}

.mentor{
    float: right;
    margin: 8%
}

.cause{
    margin-top: 100px; 
    padding: 20px; 
    margin-left: 130px; 
    margin-right: 130px 
}

.navbar{
    margin-top: 10px; 
    padding: 20px; 
    margin-left: 150px; 
    margin-right: 150px
}

.mentorat {
    margin-top: 10px; 
    padding: 20px; 
    margin-left: 130px; 
    margin-right: 130px 
}

.binome{
    margin-top: 150px; 
    padding: 20px; 
    margin-left: 130px; 
    margin-right: 130px;
    margin-bottom: 75px;
}

.cercle{
    margin: 10%;
}

.engage{
    margin-top: 150px; 
    padding: 20px; 
    margin-left: 130px; 
    margin-right: 130px;
    margin-bottom: 75px;
    margin: 10%;
}

.argument{
    margin-top: 200px; 
    padding: 20px; 
    margin-left: 130px; 
    margin-right: 130px;
    margin-bottom: 75px;
}

.decouverte{
    margin-top: 150px;  
    margin-left: 130px; 
    margin-right: 130px;
}

.trouve{
    margin-top: 150px;  
    margin-left: 130px; 
    margin-right: 130px;
}

.footer{
    background-color: grey;
    width: 60%; /* Largeur de la zone contenant les deux textes */
    display: flex; /* Utiliser Flexbox pour positionner les éléments côte à côte */
    justify-content: space-between; /* Espacez les éléments pour qu'ils soient à gauche et à droite */
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

a{
    text-decoration:none;
}

ul{
    list-style-type: none;
}
